//mssql
{
    user: '',
    password: '',
    server: '',
    port: 0,
    database: '',
    "options": {
        "encrypt": true,
        "enableArithAbort": true
    },
}

//mysql
{
  host     : 'localhost',
  user     : 'me',
  password : 'secret',
  database : 'my_db',
  port: 0
}